/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: aqua;
  border: 2px solid grey;
  display: inline-block;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}
